
@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }
    #main {
        width: 90%;
        height: 600px;
        margin: 0 auto;
    }

    .contact-box-left, .contact-box-center, .contact-box-right {
        width: inherit;

    }
    .contact-box-center h3 {
        width: inherit;
        padding-left: 20px;
    }
    .contact-box-center p {
        text-align: center;
        padding: 0 20px;
    }
    #title > p {
        width: 0;
        text-align: left;
    }
  .tour-item, .tour-item-title, .tour-item-price, .tour-item-button, .tour-item-button:hover, .tour-item-button--active {
    width: 100%;
    margin-right: 40px;
    float: center;
    text-align: center;
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .tour-item, .tour-item-title, .tour-item-price {
        width: inherit;
        margin-right: 20px;
        float: center;
        text-align: center;
        padding-left: 10px;
      }

      .tour-item-title {
        text-align: center;

      }


    .contact-box-center p {
        text-align: center;
        padding: 0;
    }
}
