@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings & logo*/
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}
#logo {
    float: left;
    font-size: 250%;
}
/* navigatin links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image-edinburgh */

#edinburgh-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text, #cover-text h2 {
    color: #fff;
}

#edinburgh-image {
    height: 600px;
    width: 100%;
    background: url(../images/edinburgh-city.jpeg) no-repeat center fixed;
    background-size: cover;

/* animates zoom effects on loading page */
animation-name: edinburgh-zoom;
animation-duration: 3s ;
animation-fill-mode: backwards;
}
/* creates the level of zoom for edinburgh image */
@keyframes edinburgh-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 140%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(246, 172, 13, 0.774);

    bottom: 60px;
    right: 100px;

    position: absolute;
}

/* main contents */
.main {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

#title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
p {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}